html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background: linear-gradient(90deg, black, #303030, black);
  color: white;
  height: 100%;
  width: auto;
  margin: 0;
  padding: 0;
}


.couleur {
  display: flex;
  position: fixed;
  right: auto;
  top: 0;
  z-index: 100;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.6s;
  z-index: 100000;
}

header.sticky {
  padding: 5px 20px;
  background: #deddda;
}

.logo img {
  height: auto;
  width: 50%;
  max-width: 20%;
  display: flex;
  padding-left: 10%;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  margin: 0 10px;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 2px;
  font-weight: 500;
  transition: 0.6s;

}


header.sticky ul li a {
  color: #000;
}

.image-video video {
  width: 100%;
  height: auto
}

.image-video img {
  position: absolute;
  width: 50%;
  height: auto;
  left: 25%;
  top: 100px;
}



.cadre_image img {
  width: 50%;
  height: auto;
}




.center {
  display: flex;
  justify-content: center;
}

.les_textes {
  padding: 0 2em;
  border: 5px double white;
}




.partie_carte mine {
  right: 0;
  padding: 50px;
}

.Mont_cristal {
  display: flex;
  justify-content: center;
}

.Mont_cristal img {
  left: 0;
  height: auto;
  max-width: 60%;
}

.cité_larme {
  display: flex;
  justify-content: left;
  flex-direction: row-reverse;
  font-size: 90%;
  padding: 20px;
}

.cité_larme img {
  right: 0;
  height: auto;
  max-width: 80%;
}

.Vertchemin img {
  left: 0;
  height: auto;
  max-width: 80%;
}

.vertchemin_txt {
  font-size: 90%;
}

.Vertchemin {
  display: flex;
  justify-content: left;
  flex-direction: row;
  padding: 50px;
}

.La_Ruche img {
  right: 0;
  height: auto;
  max-width: 60%;
}

.Ruche_txt {
  font-size: 90%;
}

.La_Ruche {
  right: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 50px;
}

.Video video {
  display: flex;
  max-height: 80%;
  max-width: 40%;
  padding-left: 34%;
  width: 30%;
}

.pour_info iframe {
  align-items: center;
  max-width: 80%;
  width: auto;
  height: auto;
  max-height: 80%;
}

.Reseaux {
  display: flex;
  justify-content: space-around;
  padding-left: 42%;
  flex-direction: row;

}

.Discord img {
  display: flex;
  right: 0;
  max-width: 50%;
  height: auto;
  max-height: 70%;
  width: auto;
}

.insta img {
  display: flex;
  right: 50%;
  align-items: center;
  max-width: 50%;
  height: auto;
  max-height: 70%;
  width: auto;
}

.myspace img {
  display: flex;
  right: 50%;
  max-width: 20%;
  height: auto;
  max-height: 30%;
  width: auto;
}


.dark-mode {
  background: -webkit-linear-gradient(90deg, black, #303030, black);
  background: -moz-linear-gradient(90deg, black, #303030, black);
  background: linear-gradient(90deg, black, #303030, black);
  color: white;
}

.light-mode {
  background: -webkit-linear-gradient(90deg, white, #AED6F1, white);
  background: -moz-linear-gradient(90deg, white, #AED6F1, white);
  background: linear-gradient(90deg, white, #AED6F1, white);
  color: black;
}

.pink-mode {
  background: -webkit-linear-gradient(90deg, #a731b4, #cc7cd5, #a731b4);
  background: -moz-linear-gradient(90deg, #a731b4, #cc7cd5, #a731b4);
  background: linear-gradient(90deg, #a731b4, #cc7cd5, #a731b4);
  color: white;
}

.blue-mode {
  background: -webkit-linear-gradient(90deg, #0D0056, #30615e, #0D0056);
  background: -moz-linear-gradient(90deg, #0D0056, #30615e, #0D0056);
  background: linear-gradient(90deg, #0D0056, #30615e, #0D0056);
  color: white;
}

.green-mode {
  background: -webkit-linear-gradient(90deg, #234131, #81a25e, #234131);
  background: -moz-linear-gradient(90deg, #234131, #81a25e, #234131);
  background: linear-gradient(90deg, #234131, #81a25e, #234131);
  color: white;
}

.yellow-mode {
  background: -webkit-linear-gradient(90deg, #5D2B29, #F6C878, #5D2B29);
  background: -moz-linear-gradient(90deg, #5D2B29, #F6C878, #5D2B29);
  background: linear-gradient(90deg, #5D2B29, #F6C878, #5D2B29);
  color: white;
}

footer h1 a {
  color: white;
}

/* affichage téléphone */
@media (max-width:1080px) {

  .partie_carte mine {
    left: 0;
  }

  .Mont_cristal {
    display: flex;
    justify-content: left;
    flex-direction: column;
  }

  .Mont_cristal img {
    left: 0;
    height: auto;
    max-width: 60%;
  }

  .cité_larme {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 90%;
    padding: 20px;
  }

  .cité_larme img {
    left: 0;
    height: auto;
    max-width: 80%;
  }

  .Vertchemin img {
    left: 0;
    height: auto;
    max-width: 90%;
  }

  .vertchemin_txt {
    font-size: 90%;
  }

  .Vertchemin {
    display: flex;
    justify-content: left;
    flex-direction: column;
    font-size: 90%;
  }

  .La_Ruche img {
    right: 0;
    height: auto;
    max-width: 80%;
  }

  .Ruche_txt {
    font-size: 80%;
  }

  .La_Ruche {
    right: 0;
    display: flex;
    justify-content: left;
    flex-direction: column;
  }

  .Video video {
    display: flex;
    max-height: 80%;
    max-width: 40%;
    width: 50%;
  }

  .Reseaux {
    display: flex;
    justify-content: space-around;
    padding-right: 10%;
    flex-direction: row;
  }

  .Discord img {
    display: flex;
    right: 60%;
    height: 80%;
    width: 90%;
  }

  .insta img {
    display: flex;
    right: 80%;
    max-width: 100%;
    height: 80%;
    max-height: 100%;
    width: 80%;
  }

  .myspace img {
    display: flex;
    right: 20%;
    height: 100%;
    width: 80%;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.6s;
    z-index: 100000;
  }

  header.sticky {
    background: #deddda;
  }

  .logo img {
    height: auto;
    width: auto;
    max-width: 20%;
    display: flex;
    padding-left: 10%;
  }

  header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header ul li {
    position: relative;
    list-style: none;
  }

  header ul li a {
    position: relative;
    margin: 0 10px;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s;

  }


  header.sticky ul li a {
    color: #000;
  }

}