.couleur {
  display: flex;
  position: fixed;
  right: auto;
  top: 0;
  z-index: 100;
}


.bouton-haut a {
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  right: 25%;
}



.image-video video {
  width: 100%;
  height: auto
}

.image-video img {
  position: absolute;
  width: 50%;
  height: auto;
  left: 25%;
  top: 100px;
}



.cadre_image img {
  width: 50%;
  height: auto;
}



.center {
  display: flex;
  justify-content: center;
}

.les_textes {
  padding: 0 2em;
  border: 5px double white;
  size-adjust: auto;
}



.partie_carte mine {
  right: 0;
  padding: 50px;
}

.Mont_cristal {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.image_mine img {
  left: 0;
  height: auto;
  max-width: 650px;
  width: 75%;
}

.cité_larme {
  display: flex;
  justify-content: left;
  flex-direction: row-reverse;
  font-size: auto;
  padding: 50px;
}

.cité_image img {
  right: 0;
  height: auto;
  max-width: 650px;
  width: 100%;
}



.dark-mode {
  background: -webkit-linear-gradient(90deg, black, #303030, black);
  background: -moz-linear-gradient(90deg, black, #303030, black);
  background: linear-gradient(90deg, black, #303030, black);
  color: white;
}

.light-mode {
  background: -webkit-linear-gradient(90deg, white, #AED6F1, white);
  background: -moz-linear-gradient(90deg, white, #AED6F1, white);
  background: linear-gradient(90deg, white, #AED6F1, white);
  color: black;
}

.pink-mode {
  background: linear-gradient(90deg, #212121, #880297, #303030);
  color: white;
}

.blue-mode {
  background: linear-gradient(90deg, #0D0056, #30615e, #0D0056);
  color: white;
}

.green-mode {
  background: linear-gradient(90deg, #234131, #81a25e, #234131);
  color: white;
}

.yellow-mode {
  background: linear-gradient(90deg, #250d10, #b49b6e, #250d10);
  color: white;
}





body {
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background: linear-gradient(90deg, black, #303030, black);
  color: white;
  height: 100%;
  width: auto;
}

.bordure {
  display: flex contents;
  padding-left: 0 3em;
  justify-content: center;
  border: 10px double white;
}

.Sexe {
  size: 69x19;
}

.Prenom {
  size: 158x21;
}

.impression {
  size: 158x21;
}

.Effacer {
  padding: 0 5em;
  text-align: center;
  size: 57x21;
}

.Enregistrer {
  size: 81x21;
}